In [ ]:
#TASK1=Assignment 1
#Referal code: DIRSS3134
#-Gauri Kolte

In [1]:
for outervalue in range(6,0,-1):
    for innervalue  in range(0,outervalue):
        print('5',end='')
    print()

555555
55555
5555
555
55
5

In [2]:
for outervalue in range(6,1,-1):
    for innervalue  in range(0,outervalue):
        print(innervalue,end='')
    print()

012345
01234
0123
012
01

In [3]:
for outervalue in range(1,9,2):
    for innervalue in range(0,outervalue,2):
        print(outervalue,end='')
    print()

1
33
555
7777

In [4]:
for outervalue in range(7,0,-1):
    for innervalue in range(0,outervalue):
        print(outervalue,end='')
    print()

7777777
666666
55555
4444
333
22
1

In [5]:
for outervalue in range(1,7):
    for innervalue in range(outervalue,0,-1):
        print(innervalue,end='')
    print()

1
21
321
4321
54321
654321

In [6]:
row=6
for i in range(1,row+1):
    for j in range(1,i-1):
        print(j,end="")
    for j in range(i-1,0,-1):
        print(j,end="")
    print()

1
121
12321
1234321
123454321

In [7]:
 for outervalue in range(1,8):
    for innervalue in range(1,outervalue+1):
        print(outervalue * innervalue,end=' ')
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49

In [8]:
row=5
for i in range(1,row+1):
    for j in range(1,row+1):
        if j<=i:
            print(i,end="")
        else:
            print(j,end="")
    print()

12345
22345
33345
44445
55555

In [9]:
for outervalue in range(0,7):
        print('*' * outervalue)
        outervalue+=1

*
**
***
****
*****
******

In [10]:
num=4
for i in range(0,num):
    for j in range(0,num-i-1):
        print(end=" ")
    for j in range(0,i+1):
        print("*",end=" ")
    print()

   *
  * *
 * * *
* * * *

In [11]:
num=4
sp=2*num-2
for i in range(num,-1,-1):
#    print("*",end=" ")
    for j in range(sp,0,-1):
        print(end=" ")
    sp += 1    
    for j in range(0,i+1):
        print("*",end=" ")
    print()

      * * * * *
       * * * *
        * * *
         * *
          *

In [12]:
row=4
for i in range(0,row):
    for j in range(0,i+1):
        print("*",end=" ")
    print(" ")
for i in range(row+1,0,-1):
    for j in range(0,i-1):
        print("*",end=" ")
    print(" ")

*
* *
* * *
* * * *
* * * *
* * *
* *
*

In [13]:
row=5
for i in range (0,row):
    for j in range (0,i+1):
        print("*",end=' ')
    print()
for i in range(row,0,-1):
    for j in range(0,i-1):
        print("*", end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [14]:
  num=4
for i in range(0,num):
    print("*",end='')
    
    for j in range(0,num-1-i):
        print(end="*")
    for j in range(0,i+1):
        print("_",end=" ")

        
      
    print()

****_
***_ _
**_ _ _
*_ _ _ _